* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

.dark {
    --primary-color: #22224a;
    --secondary-color: #dcece8;
    --tertiary-color: #ffffff;
    --gradient-overlay: #00000060;
}

.light {
    --primary-color: #ebe7dc;
    --secondary-color: #121212;
    --tertiary-color: #000000;
    --gradient-overlay: #ffffff30;
}

h1 { font-size: 2rem;}
h3 { font-size: 1.15rem;}
h4 { font-size: 1rem;}
h5 { font-size: 0.9rem;}

body {
    background-color: var(--primary-color); 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1rem;
}

header {
    height: 40vw;
    overflow: hidden;
    position: relative;
    width: 100%;
    transition: opacity 2s ease;
}

.top-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: all;

    .logo {
        width: 12.5rem;
        margin: 0.8rem;
        fill: var(--tertiary-color);

        .square-logo {
            display: none;
        }
    }

    .user {
        margin: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;

        #mode-switch {
            pointer-events: all;
            margin-right: 1rem;
            filter: invert(0);
            svg {
                 height: 2rem;
            }
        }

        #mode-switch.on {
            filter: invert(1);
        }

        img {
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
        }
    }
    
   
}

.search-box {
    margin: 1rem;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    input {
        border: none;
        height: 2.5rem;
        border-radius: 2rem;
        padding: 0 2rem;
        width: 60vmin;
        opacity: 0.6;
        transition: opacity 0.4s ease;
        font-size: 1.1rem;
    }

    input:focus, input:hover{
        opacity: 1;
    }
}


.ft-video {
    width: 100%;
    position: absolute;

    video {
        width: 100vw;
        z-index: -1;
    }

    .ft-overlay {
        height: 100%;
        width: 100%;
        z-index: 0;
        position: absolute;
        background-image: linear-gradient(var(--gradient-overlay) 0% 40%, var(--primary-color) 70% 100%);
    }
}

.ft-metadata {
    position: absolute;
    bottom: 10%;
    left: 10%;
    z-index: 2;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    margin: 0 auto;
    color: var(--secondary-color);

    .ft-artist-image {
        grid-row: 1 / span 3;
        grid-column: 1;
        background-image: url(assets/featured-creator.png);
        border-radius: 50%;
        width: 6rem;
        height: 6rem;
        background-size: contain;
        margin-right: 2rem;
    }

    .ft-cotd {
        grid-row: 1;
        grid-column: 2;
        text-transform: uppercase;
    }
    .ft-title {
        grid-row: 2;
        grid-column: 2;
        font-weight: 800;
    }
    .ft-artist {
        grid-row: 3;
        grid-column: 2;
        text-transform: lowercase;
        font-weight: 200;
    }
}

main {
    display: flex;
    flex-direction: column;
    color: var(--secondary-color);
    width: 100%;
    margin: 4rem auto;
    position: relative;
    transition: transform 0.6s ease 2s, opacity 0.6s ease 2s;
}

main > div {
    margin: 2rem 0;
}

.section-title {
    font-weight: 700;
    padding-left: 10%;
}

.gallery {
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    overflow-x: scroll;
}

.gallery::-webkit-scrollbar { width: 0 !important }

.video-item {
    width: 16rem;
    margin-right: 2rem;
    display: grid;
    grid-template-columns: 5rem auto;
    grid-template-rows: 3;

    .video-item-thumbnail {
        grid-row: 1;
        grid-column: 1 / span 2;
        width: 16rem;
        height: 10rem;
        padding-bottom: 1rem;
        transition: transform 0.2s ease;
    }

    .video-item-artist-image {
        grid-row: 2 / span 2;
        grid-column: 1;
        border-radius: 50%;
        display: inline-block;
        height: 3rem;
        width: 3rem;
        margin: 0 1rem;
    }

    .video-item-artist-name {
        grid-row: 3;
        grid-column: 2;
        font-weight: 200;
        align-self: flex-start;
    }

    .video-item-title {
        grid-row: 2;
        grid-column: 2;
        align-self: flex-start;
    }

}

.video-item:hover .video-item-thumbnail {
    transform: scaleX(1.05);
}


main.fade {
    opacity: 0;
    transform: translateY(+10%);
}

header.fade {
    opacity: 0;
}

.creator {
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: transform 0.2s ease;
    margin-right: 4rem;
    
    .creator-thumbnail {
        width: 10rem;
        height: 10rem;
        border-radius: 80%;
    }

    h4 {
        padding-top: 1rem;
        font-weight: 200;
        font-size: 1.12rem;
    }
}

.creator:hover {
    transform: scaleX(1.05);
}

@media only screen and (max-width: 1200px) {

    * {
        font-size: 16px;
    }

    .top-bar .logo {
        width: 4rem;
        .wide-logo {display: none;}
        .square-logo {display: block;}
    }

}

@media only screen and (max-width: 800px) {

    * {
        font-size: 16px;
    }

    .ft-metadata {
        position: absolute;
        bottom: -10%;
        left: 10%;
        z-index: 3;
    
        .ft-artist-image {
            width: 12vw;
            height: 12vw;
            margin-right: 1rem;
        }
    
        .ft-cotd {font-size: 0.8rem;} // 12px, max 18px
        .ft-title {font-size: 1.2rem;} // ~20px, max 32px
        .ft-artist {font-size: 1rem;} // 16px, max 18px

        // just tried some experiments with variable font sizing, please ignore
        // .ft-cotd {font-size: calc(3.7vw);}
        // .ft-title {font-size: calc(6.2vw);}
        // .ft-artist {font-size: calc(5vw);}

        // .ft-cotd {
        //     font-size: min(max(12px, 3.7vw), 18px);
        // }

        // .ft-title {
        //     font-size: min(max(20px, 6.2vw), 32px);
        // }
        // .ft-artist {
        //     font-size: min(max(16px, 5vw), 18px);
        // }
    }

    header {
        height: 50vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .ft-video video {
        width: auto;
        height: 100vh;
    }

    .search-box input {
        width: 50vmin;
    }
}

@media only screen and (max-width: 640px) {

    #mode-switch {
        display: none;
    }
}